<html>
  <head>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      // XXX: Google compressed version down? change this when it's up again!
      google.load('jquery', '1.7.1', {'uncompressed': true}); 
      google.load('visualization', '1', {'packages': ['geochart']});
    </script>
    <script type='text/javascript' src='/js/vendor.js'></script>
    <script type='text/javascript' src='/js/map.js'></script>
    <script type='text/javascript'>
      $(function () {
        addText('test string');
      });
    </script>
  </head>

  <body>

    <h1><TMPL_VAR NAME="name"></h1>
    <div id="products">
      <table>
        <thead>
          <th>State</th><th>Value</th>
        </thead>
        <tbody id="product_table_body"></tbody>
      </table>
    </div>
    <div id="map" style="width: 556px;"></div>
  </body>
</html>

<!--
vi:sw=2 ts=2 sts=2 et:
-->

